<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaGet</title> 
</head>
<body>
    <h1>Welcome to InstaGet</h1>
    <p>InstaGet is a powerful tool that allows you to easily download and manage your Instagram content. With InstaGet, you can quickly save photos, videos, and stories from your favorite Instagram accounts, ensuring that you never miss out on any of the exciting moments shared by your friends and influencers.
    </p>
    <ol>
        <li>phones</li>
        <li>Electronics</li>
        <li>Groceries</li>
        <li>Foot Wear</li>
        <li>Clothing</li>
    </ol>
</body>
</html>